---
---
@import url(http://fonts.googleapis.com/css?family=Cinzel:700,400);

$margin:0.25in;
$top:$margin;
$side: 0.1in;
$pink:rgb(236,0,139);
$grey: #aaa;
body{
	text-align:center;
	font-family:Georgia;
}
h1,h2,h3,h4,h5,h6
{
	font-family: 'Cinzel', serif;
	font-variant:small-caps;
	margin-bottom:0.25em;
}
p{
	margin:0;
}
input{
	min-width:200px;
	max-width:100%;
	font-size:2em;
}

@media print {
	.page-break	{
		display:none;
		display: block; 
		page-break-before: always;
		padding-bottom:$margin; 
	}
}
.btn{
	font-size:18px;
	background-color:$grey;
	padding:0.5em 2em;
	cursor:pointer;
}
.btn[data-selected="yes"]{
	background-color:$pink;
	color:white;
	&:hover{
		background-color:darken($pink,15%);
	}
}
.btn:hover{
	background-color:darken($grey, 15%);
}
.btn-group{
	.btn{
		display:inline-block;
		margin:0;
		margin-bottom:4px;
		border-right-width:3px;
		border-right-color:lighten($grey, 15%);
		border-right-style:solid;
		&:first-of-type{
			border-top-left-radius:3px;
			border-bottom-left-radius:3px;
		}
		&:last-of-type{
			border-right-width:0;

			border-top-right-radius:3px;
			border-bottom-right-radius:3px;
		}
	}
}
@media print  
{
	.no-print{
		display:none;
	}
    div{
        page-break-inside: avoid;
    }
}

dl{
	dt:before {
	  content: "";
	  display: block;
	}
	&.inline{
		dt, dd {
		  display: inline;
		}
	}
	dt{
		font-weight:800;
		clear:both;
	}
	dd{
		font-weight:200;
		margin-left:0;
		color:lighten(black,30%);
	}
}
